.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  display: none;
  z-index: 10;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  padding: 20px;
  background: white;
  border-radius: 16px;
}


h3{
  text-align: center;
}

p{
  font-size: 14px;
  font-weight: 400;
}
