.orderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 40px;
}

.btnItem {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  background: white;
  border: 1px solid black;
  color: #000;
  border-radius: 5px;
  transition: 0.3s;
}

.btnItem:hover {
  background: black;
  color: white;
}


